# Rider
.idea/

# Build output
/bin/
/obj/

# Rider files
*.sln.iml
*.csproj.iml
*.suo
*.user
*.resharper.user
_ReSharper.*/

# Visual Studio Code
.vscode/

# Compiled files
*.exe
*.dll
*.pdb

# NuGet
/packages/

# User-specific files
*.sln.docstates

# TODOs.txt
TODOs.txt
